<app-auth-content>
  <div class="app-title">
    <div>
      <h1><i class="fa fa-map-marker "></i> ค้นหาผู้รับผิดชอบแต่ละพื้นที่</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a [routerLink]="['/', AppURL.Authen, AuthURL.AddCatchmentAreaComponent]">เพิ่มผู้รับผิดชอบแต่ละพื้นที่</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <section class="invoice">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">อำเภอ</label>
                  <select class="form-control" formControlName="amphur">
                    <option value="" selected>เลือกอำเภอ</option>
                    <option *ngFor="let amphur of amphurs" [value]="amphur.ampurcodefull">{{amphur.ampurname}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">ตำบล</label>
                  <select class="form-control" formControlName="tambon">
                    <option value="" selected>เลือกตำบล</option>
                    <option *ngFor="let tambon of tambons" [value]="tambon.tamboncodefull">{{tambon.tambonname}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">หมู่บ้าน</label>
                  <select class="form-control" formControlName="r_villagecodefull">
                    <option value="" selected>เลือกหมู่บ้าน</option>
                    <option *ngFor="let village of villages" [value]="village.villagecodefull" >{{village.villagename}}</option>
                  </select>
                </div>
              </div>
            </div>
  
          </form>
        </section>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ค้นหา">
              </mat-form-field>

              <div class="mat-elevation-z8">
                <div class="col-12 table-responsive">
                  <table class="table-hover" mat-table [dataSource]="dataSource" matSort>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                    <!-- Id Responsible Column -->
                    <ng-container matColumnDef="id_responsible">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ลำดับ </th>
                      <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <!--FirstName  Column -->
                    <ng-container matColumnDef="firstname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ</th>
                      <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
                    </ng-container>

                     <!--LastName  Column -->
                     <ng-container matColumnDef="lastname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> นามสกุล</th>
                      <td mat-cell *matCellDef="let row"> {{row.lastname}}  </td>
                    </ng-container>

                     <!--Hospital  Column -->
                     <ng-container matColumnDef="hosname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานบริการ</th>
                      <td mat-cell *matCellDef="let row"> {{row.hosname}} </td>
                    </ng-container>

                    <!--Ampurname  Column -->
                     <!--<ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> อำเภอ</th>
                      <td mat-cell *matCellDef="let row"> {{row.ampurname}} </td>
                    </ng-container>-->

                    <!--Work  Column -->
                    <ng-container matColumnDef="work">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> งานที่รับผิดชอบ</th>
                      <td mat-cell *matCellDef="let row"> {{row.work}} </td>
                    </ng-container>

                    <!-- Edit Column -->
                    <ng-container matColumnDef="detail">
                      <th mat-header-cell *matHeaderCellDef ></th>
                      <td mat-cell *matCellDef="let row" class='text-right'>
                        <button type="button" (click)="onShowDetail(template,row)" class="btn btn-success btn-md">ดูรายละเอียด</button>
                      </td>
                    </ng-container>
                  
                  </table>
                </div>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</app-auth-content>

<ng-template #template>
  <app-search-responsible-detail [modalRef]="modalRef" ></app-search-responsible-detail>
</ng-template>